.abstract-search-container {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
  color: rgb(80, 80, 80);
}

.advanced-search-container {
  background-color: white;
  border: 1px solid lightgrey;
  margin-right: 40px;
}

.advanced-browse-container {
  display: flex;
  margin-bottom: 40px;
}

.advanced-browse-container div {
  margin-right: 20px;
  color: grey;
}

.advanced-search-div,
.browse-div,
.browse-div2 {
  padding: 10px 30px;
  border-top: 4px solid white;
}

.browse-div,
.browse-div2 {
  cursor: pointer;
}

.browse-div:hover .browse,
.browse-div2:hover .browse {
  color: rgb(7, 57, 115);
}

.advanced-search-div {
  border-top: 4px solid rgb(7, 57, 115);
}

.advanced-search-div .advanced-search {
  color:rgb(7, 57, 115);
}

.advanced-search,
.browse {
  font-size: 20px;
}

.author-title-by {
  font-size: 14px;
}

.advanced-search-inputs-container {
  display: flex;
  padding: 0px 80px;
}

.search-terms-input-div,
.authors-input-div,
.date-input-div,
.current-selection-div {
  display: flex;
}

.search-terms-div {
  margin-right: 20px;
  margin-bottom: 16px;
}

.search-button {
  background-color: rgb(7, 57, 115);
  border: none;
  padding: 11px 16px;
  color: white;
  cursor: pointer;
  transition: background-color .15s;
}

.search-button:hover {
  background-color: rgb(233, 113, 28);
}

.date-input-div {
  margin-bottom: 40px;
}

.current-selection-div {
  flex-direction: column;
}

.das-labels {
  padding-right: 40px;
  color: rgb(34, 34, 34);
  width: 100px;
  display: flex;
  justify-content: right;
  float: left; /* This makes the Networks label work */
}

.abs-radio {
  line-height: 24px;
}

.text-input,
.date-input {
  border: 1px solid lightgrey;
}

.text-input {
  height: 40px;
  width: 430px;
  font-size: 20px;
  border-radius: 0px;
  margin-bottom: 16px;
}

.date-input {
  background-color: white;
  padding: 10px;
}

.elibrary-statistics-container {
  line-height: 26px;
}

.papers-and-authors-container,
.paper-downloads-container {
  padding-bottom: 40px;
}

.elibrary-statistics,
.papers-and-authors,
.paper-downloads,
.references-and-citations {
  color: rgb(34, 34, 34);
}

.papers-and-authors,
.paper-downloads,
.references-and-citations {
  border-bottom: 1px solid grey;
  margin-bottom: 16px;
}

.elibrary-statistics {
  font-size: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.all-ssrn-networks {
  font-weight: bold;
  font-size: 14px;
}